body {
    margin: 0px;
    padding: 0px;
    overflow-x:  hidden;  
    font-family: Righteous, tahoma;
  
}

img {
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  user-drag: none; 
}

.container {
  
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
 
}
.page-background{
  z-index: -201;
  background-color: #024E32;
  position: fixed;
  width: 100%;
  height: 100%;
}
h2 {
  font-family: Righteous, tahoma;
}
h1 {
  font-family: Righteous;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding-top: 20px;
  text-shadow: 0px 4px 0px #7D4514;
}
.logo { 
  width: 100%;
  height: 100% ;
  position: absolute;
  background-size: cover;
  background-position: center;
  object-fit: contain;
}
.logo-container {
    height: 60%;
    text-align: center;
    width: 100%;  
    top: 12%; 
    display: inline-block;
    position: relative;
    max-width: 100%;
   
}

#home {
  position: relative;
}
.background-effect{
  background-image: url('images/Frame 2.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.logo-container-wrapper {
    text-align: center;
    height: 100%;
    position: absolute;
}
.logo-container img{
    position: relative;
    height: calc( 100%  - 57px );
    max-height: 100%;
}
.btn-play-container{
    text-align: center;
    position: relative;
    z-index: 2;
}

.btn-play { 
    background: linear-gradient(180deg, #F9D949 0%, #F5B344 100%);
    box-shadow: 0px 6px 0px #7D4514, inset 0px 4px 0px #FCF39C;
    border-radius: 10px; 
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 25px;
  text-shadow: 0px 4px 0px #9C7B55;
}
 
.btn-play:hover {
  background: linear-gradient(180deg, #FFD949 0%, #F9D949 100%);
}
.btn-play:active {
  background: linear-gradient(180deg, #F5B344 0%, #F9D949 100%);
  box-shadow: 0px 6px 0px #F5B344, inset 0px 4px 0px #FCF39C;
}
.overlay{
    position: absolute;
    bottom: 20%;
    width: 100%;
    margin: 0px !important;
}

#game-play{
  position: relative;
    text-align: center;
    color: white;
  /*background-image: url(images/bgg.jpg);*/
  background-size: cover;
  padding-top: 100px;
 /* background-color: #024E32;*/
}

#game-play iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    border-radius: 10px;
}

#game-play .video-container {
    position: relative;
    padding-bottom: 56.4%; 
    max-height: 100%;
}
.screen-size{
    max-width: 600px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.modes {
  margin-top: 60px;
    display: none;
}

.logo-container-wrapper {
  width: 100%
}

.social-container {
  position: absolute; 
  bottom: 10%;
  width: 100%;
  display: flex;
}
.social div{
  padding: 10px;
}

.social {
  display: flex;
  margin: auto;
}

 

.address-container {
  position: absolute;
  z-index: 10px;
  background: rgba(39, 106, 81, 0.58); 
  display: inline-block;
  text-align: center;  
  width: 100%;
}

.adress-title {
  color: #FFFFFF;
  text-shadow: 2px 0 0 #081D0D, -2px 0 0 #081D0D, 0 2px 0 #081D0D, 0 -2px 0 #081D0D, 1px 1px #081D0D, -1px -1px 0 #081D0D, 1px -1px 0 #081D0D, -1px 1px 0 #081D0D;
  font-weight: bold;
}
.adress-content {
  color: white;
  font-size: 14px;
  cursor: copy;
}


.game-play-top {
  width: 100%;
  position: absolute;
  left: 0px;
  top: -70px;
  height: 500px;
  background-image: url('images/top-game-play.png');
  background-size: 1000px 500px;
  
}

.hummer-top {
  width: 100%;
  position: absolute;
  left: 0px;
  top: -200px;
  height: 310px;
  background-image: url('images/top.png');
  background-size: cover;
  background-position: center;

} 
#token .chart { 
  margin: auto;; 
  text-align: center;
  position: relative;
}
#game-play{
  padding-bottom: 100px;
  }

@media (min-width: 960px){
.logo-container {
  top: 22%;
}
  #token .chart { 
    margin: auto;;
    width: 345px;
    height:345px; 
    text-align: center;
    position: relative;
}
  #game-play{
  padding-bottom: 10px;
  }

  .menutop {
    display: block !important;
  }
  .menutop .content {
    text-align: right;
  }
  .background-effect{
     
    width: 140%;
    height: 140%;
    position: absolute;
    left: -20%;
    top: -20%;

  }

  .address-container {
   background: radial-gradient(50% 50% at 50% 50%, #276A51BB 20%, rgba(39, 106, 81, 0) 100%);
   padding: 30px 10px;
  
    /*
     border: 2px solid #081D0D22;
   */ 
    border-radius: 10px 20px;
    
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 40%;
 
    width: 390px;
  }

  .adress-title {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    text-shadow: 2px 0 0 #081D0D, -2px 0 0 #081D0D, 0 2px 0 #081D0D, 0 -2px 0 #081D0D, 1px 1px #081D0D, -1px -1px 0 #081D0D, 1px -1px 0 #081D0D, -1px 1px 0 #081D0D;
    font-weight: bold;
  }
  .adress-content {
    color: white
  }
  .social-container .social { 
    position: absolute;
    right: 5%;
    bottom: 10%
  }
    .logo-container-wrapper {
      width: initial;
      left: 10%;
    }
    .viewport-size{
        padding: 0px
    }
  
#game-play{
  
    text-align: center;
    color: white; 
    padding-bottom: 200px;
}
.modes {
    width: 200px;
    display: block;
}

}

.modes img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.modes .child {
    max-width: 200px;
    padding: 0px !important;
    margin: auto;
}

.viewport-size{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    position: relative;
}

.background2 {
  position: relative;

  background-color: #317049;
}

.background2multiply {
  
  background: linear-gradient(180deg, #272D62 0%, #4D3E5C 52.6%, #151317 99.99%);
  background-image: url(images/image\ 12.png);
  background-position: bottom;
  background-size: cover;
  mix-blend-mode: multiply;
  position: absolute;
  width: 100%;
  height: 100%;
 
}


#hummer {
    color: white;
    text-align: center;
    margin: 0px;
    padding-bottom: 160px;
    position: relative;
    padding-top: 150px;
}

#hummer .child 
{
    display: inline-block;
    background-image: url(images/bg_weapon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2%;
}
#hummer .child .title {
  padding: 00px

}

#hummer .child div {
 
box-sizing: border-box;
border-radius: 5% 5%; 
margin: auto;
padding: 20%;

}

#hummer .child img{
 width: 50%;
height: 50%; 
transform: rotate(-20deg)  translate(50%,20%);
}

.background-canvas{
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0px;
    left: 0px; 
}

#token {
    margin-top: -5px;
    position: relative;
    padding-bottom: 100px;;
    color: white;
    text-align: center;

}


.img-coin {
  position: absolute;
  left: 20%;
  width: 60%;
  animation: moveUpDown 2s ease-in-out infinite;
}

#token  ul{
    text-align: left;
}


.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:  #fe5757;
    animation: colorChange 30s ease-in-out infinite;
    animation-fill-mode: both;
    mix-blend-mode: overlay;
}


@keyframes colorChange {
    0%,
    100% {
      opacity: 0;
    }
    50% {
      opacity: .9;
    }
  }


@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}


  .menutop {
    z-index: 2;
    width: 100%;
    position: absolute;
    height: 200px;
    display: none;
 
    background: linear-gradient(180deg, #39B54A 0%, rgba(243, 216, 76, 0) 100%);
 
  }
  .menutop .content {
    text-align: right;
    padding: 10px;
    background-color: #589552;
    box-shadow: 0px 2px 0px #366D30;
  }

  .menutop a{
    flex: 1;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-top: 20px;
    
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
  }
  .menutop a:hover {
    text-decoration: none;
  }
  #advisors{
    text-align: center;
    color: white;
    /*background: linear-gradient(180deg, #DD7C48 0%, #1A1D3D 80.73%);*/
    padding-bottom: 100px;
 
  }

  .background3 {
    background:  #317049;
    background-image: url('images/image 16.png');
    background-size: cover;
    background-position: bottom;
  }

  #team {
    margin-top: -10px;
    color:white;
    text-align: center;
    padding-bottom: 100px; 
 
  }
  .item-team-container{
    padding: 10px
  }

  .img-top-c-b {
    position: absolute;
    right: 10%;
    bottom: -50px;
    width: 250px
  }  

.item-team-container img {

  width: 70%;
  height: 70%;
  object-fit: contain;;
  position: absolute;
  bottom: 15px;
  left: 0px;
  }

  .item-team-container .background {
    position: relative;
    background-image: url(images/background.png);
    background-size: 100% 100%;
    padding: 9px;
    max-width: 180px;
    height: 180px;
    mix-blend-mode: multiply;
    margin: auto;
  }

  .item-team-container .name {
    font-size: 18px;
    font-weight: bold;
    color: yellow
  }

  .item-team-container .desc {
    font-size: 16px;
    font-weight: normal;
    color: white
  }

  #road-map {
    padding-top: 80px;
    padding-bottom: 400px;
      color:white;
      text-align: center;

  }
  

.roadmap {
    padding: 30px 50px;
    text-align: left;
  }
   
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

#backers {
  /*background: linear-gradient(180deg, #1A1D3D 0%, #151317 26.56%, #151317 70.83%, #392B51 99.99%);*/
  text-align: center;
  padding-bottom: 60px;
  color: white
}
.backers > div{
  margin: 0px;
  padding: 0px;
  display: flex;
}
.backers .backer img { 
width: 100%;
height: 100%; 
}

.backers .backer { 
  padding: 5px;
  margin-top: 0px;
  }
  .footer {
    /*background: linear-gradient(199.62deg, #382A50 7.89%, #382A50 24.76%, #5A3B6E 60.12%, #6A4080 60.19%, #694180 80.48%, #7C589B 80.73%, #7C599C 86.86%);
    */
    padding: 20px; 
    padding-top: 60px;
    padding-bottom: 30px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color:white
  }

  .footer-logo {
    text-align: center;
  }
  .footer-logo img{
      width: 100%;
      max-width: 200px;
  }

  .footer-social {
    display: flex;
    justify-content: center;
  }

  .footer-social img {
    width: 34px;
    height: 34px;
    margin: 5px
  }
  
  .footer-email{
    color: #EAEAEA;
  }

  .about {

  }
  .about a {
  color: #EAEAEA;
  display: block;
  }


 #token ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  #token li {
    padding-left: 30px;
    text-indent: -1em;
    position: relative;
    margin-top: 15px;
  }
  
  #token li:before {
    content: " ";
    width: 30px;
    height: 30px;
    left: -20px;
    position: absolute; 
    background-image: url("images/check.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #road-map {
    background-image: url(images/image\ 14.png);
    background-position: bottom;
    background-size: cover;
  }

  .background-image4 {
    background-color: #317049; 
    position: relative;
    margin-top: -2px;
  }

  .background-image4multiply {
    background-image: url(images/image\ 17.png);
    background-position: bottom;
    background-size: cover;
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
  }



  

#roadmap__container {
  position: relative;
}

#roadmap {
  padding: 0;
  position: relative;
  margin: 20px auto 0 auto;
  list-style: none;
}

#roadmap #endpoint {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ffd602;
}


#roadmap::before {
  content: "";
  background-color: white;
  height: calc(100% - 20px);
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate3D(-50%, 0, 0);
  z-index: 0;
  width: 5px;
  box-shadow: 0px 0px 20px white;
  border-radius: 2px;
}

#roadmap .__year {
  display: table;
  text-align: center;
  margin: 0 auto; 
  border-radius: 50px;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 3;
  background: #fff;
  border: 1px solid #ffd600;
  font-size: 1.5em;
  font-weight: 600;
}

#roadmap .__item {
  width: 100%;
  position: relative;
}

#roadmap .__item .text {
  width: 300px;
  padding: 20px;
  text-align: left;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4),
    2px 4px 9px 5px rgba(0, 0, 0, 0.09);
}

#roadmap .__item .text b {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.3em;
  color: #252525;
}

#roadmap .__item .text span {
  color: #a7a7a7;
  font-size: 1.13em;
}

#roadmap .__item .text hr {
  margin: 20px 0;
}

#roadmap .__item .text .__ongoing {
  display: table;
  margin-top: 10px;
  background: rgb(134, 232, 254);
  clear: both;
  padding: 8px;
  color: #252525;
}

#roadmap .__item.__left {
  text-align: left;
  transform: translateZ(0) translateX(-200%);
  transition: transform 0.6s ease;
}

#roadmap .__item.__right {
  text-align: right;
  transform: translateZ(0) translateX(200%);
  transition: transform 0.6s ease;
}

#roadmap .__item.__left .text {
  border-right: 4px solid #ffd600;
}

#roadmap .__item.__right .text {
  border-left: 4px solid #ffd600;
}

#roadmap .__item.__left .connector,
#roadmap .__item.__right .connector {
  width: 0;
  transition: width 0.4s ease;
  will-change: width;
}

#roadmap .__item.__left .connector {
  position: absolute;
  background-color: white;
  height: 4px;
  box-shadow: 0px 0px 20px white;
  bottom: 50%;
}

#roadmap .__item.__right .connector {
  position: absolute;
  background-color: white;
  height: 4px;
  bottom: 50%;
  box-shadow: 0px 0px 20px white;
}

#roadmap .__item.__left .connector::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 4px solid #ffd600;
  background-color: #fff;
  border-radius: 50%;
  left: -12px;
  transform: translate3d(0, -50%, 0);
}

#roadmap .__item.__left .connector::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px; 
  background-color: #fff;
  border-radius: 50%;
  right: -6px;
  z-index: 3;
  transform: translate3d(0, -50%, 0);
}

#roadmap .__item.__right .connector::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 4px solid #ffd600;
  background-color: #fff;
  border-radius: 50%;
  right: -12px;
  transform: translate3d(0, -50%, 0);
}

#roadmap .__item.__right .connector::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px; 
  background-color: #fff;
  border-radius: 50%;
  left: -6px;
  z-index: 3;
  transform: translate3d(0, -50%, 0);
}

#roadmap .__goals .__the_goals {
  display: block;
  width: 300px;
  margin: 100px auto 50px auto;
  padding: 20px 0;
  background: #ffda33;
  text-align: center;
  position: relative;
  z-index: 3;
 
  transition: opacity 0.6s ease;
}
#roadmap .__goals .__the_goals:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  border-bottom: 25px solid #ffda33;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}
#roadmap .__goals .__the_goals:after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 100%;
  border-top: 25px solid #ffda33;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  filter: drop-shadow(0px 14px 3px rgba(0, 0, 0, 0.5));
}
#roadmap .__goals .__the_goals b {
  display: block;
  margin-top: 65px;
  font-size: 1.4em;
}
#roadmap .__goals .__the_goals ul {
  padding: 0 50px;
  text-align: left;
  font-size: 1.2em;
}
#roadmap .__goals .__the_goals ul li {
  padding: 0;
  margin: 5px 0;
  list-style-type: disc;
}
#roadmap .__goals .__coin {
  position: absolute;
  width: 150px;
  left: 50%;
  top: -75px;
  transform: translateX(-50%);
  filter: drop-shadow(0px 0px 10px rgba(247, 255, 255, 0.3));

  z-index: 4;
 
  transition: opacity 0.4s ease;
}

@media (max-width: 850px) {
  #roadmap::before {
    left: 0;
    top: 50px;
    height: calc(100% - 50px);
  }

  #roadmap #endpoint {
    left: 0;
  }

  #roadmap .__year {
    display: table;
    margin: 0;
  }

  #roadmap .__item {
    display: inline-block;
  }

  #roadmap .__item .connector {
    width: 23px;
    left: 3px;
    z-index: 3;
  }

  #roadmap .__item .text {
    width: 75%;
    float: right;
    margin: 30px 0;
  }

  #roadmap .__item.__left .text {
    border-right: none;
    border-left: 4px solid #ffd600;
  }

  #roadmap .__item.__right {
    text-align: left;
    transform: translateX(0);
  }

  #roadmap .__item.__left {
    transform: translateX(0);
  }

  #roadmap .__item.__left .connector {
    transform: rotateY(180deg);
  }

  #roadmap .__item.__right .connector::after {
    left: -9px;
  }

  #roadmap .__item.__right .connector::before {
    right: -8px;
  }

  #roadmap .__item.__left .connector::before {
    left: -8px;
  }

  #roadmap .__item.__left .connector::after {
    right: -9px;
  }
  #roadmap .__goals > .__the_goals,
  #roadmap .__goals .__coin {
    opacity: 1;
  }
  #roadmap .__goals .__coin {
    top: 20px;
  }
  #roadmap .__goals .__prettify {
    position: absolute;
    width: 100%;
    background: white;
    height: 100px;
    top: 50%;
  }
}

.img-chart {
  width: 90%; 
  position: relative;
  left: 5% ;
  max-width: 1000px;
  display: none;
  margin-bottom: 30px;
}

.chart-container {
  text-align: center;
  
}

.img-chart-mobile {
  width: 100%; 
  position: relative;
  left: 10px;
  margin-bottom: -30px;
}

@media (min-width: 960px){
  .img-chart-mobile{
    display: none
  }
 .img-chart {
   display: inline-block;
 }
 
}

.chart-shadown {
  background-image: url('images/shadown.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 60%;
  height: 100px;
  background-size: contain;
  mix-blend-mode: multiply;
  max-width: 600px;
  display: inline-block;
}

.owl-next {
  position: absolute;
  right: 0px;
  top: 30%;
  height: 100px;
  width: 25px;
  background-image: url(images/nav_right.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.owl-next:hover {
  background-color: transparent !important;
}

.owl-prev:hover {
  background-color: transparent !important;
}


.owl-prev {
  position: absolute;
  left: 0px;
  top: 30%; 
  height: 100px;
  width: 25px;

  background-image: url(images/nav_left.png) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.owl-next span, .owl-prev span {
  display: none;
}